<div *ngIf="loading"
     class="loader">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!loading">
  <div fxLayoutAlign="start">
    <div fxFlex="100%">
      <app-two-row label="Change" [data]="tradingSummary.priceChange" [isPrimary]="true" [isRate]="true"></app-two-row>
      <app-two-row label="Open price" [data]="tradingSummary.openPrice"></app-two-row>
      <app-two-row label="Closing price" [data]="tradingSummary.closePrice"></app-two-row>
      <app-two-row label="Previous closing price" [data]="tradingSummary.previousClose"></app-two-row>
      <app-two-row label="High trade price" [data]="tradingSummary.highPrice"></app-two-row>
      <app-two-row label="Low trade price" [data]="tradingSummary.lowPrice"></app-two-row>
    </div>

    <div fxFlex="100%">
      <app-two-row label="Change(%)" [data]="tradingSummary.percentChange" [isPrimary]="true" [isRate]="true"></app-two-row>
      <app-two-row label="Last trade" [data]="datePipe.transform(tradingSummary.lastTradeDate)"></app-two-row>
      <app-two-row label="Number of trades" [data]="tradingSummary.numberOfTrades"></app-two-row>
      <app-two-row label="Daily volume" [data]="tradingSummary.dailyVolume"></app-two-row>
      <app-two-row label="Daily value" [data]="tradingSummary.dailyValue"></app-two-row>
    </div>
  </div>
</div>

<app-repo-chart></app-repo-chart>
