<div>
  <div class="market-title">
    <div>Market state: {{ summary.marketState }}</div>
    <div>Market volume: {{ summary.volume }}, Number of trades: {{ summary.numberOfTrades }}</div>
  </div>

  <div class="bg-white px-6 pt-1">
    <div fxFlex="" fxLayoutAlign="start center"
         fxLayout.lt-md="column"
         fxLayoutAlign.lt-md="space-between start">
      <mat-form-field fxFlex="230px" fxFlex.lt-md="">
        <mat-label>Search by Symbol</mat-label>
        <input matInput [formControl]="secCodeControl">
        <mat-error *ngIf="secCodeControl.invalid">Invalid input</mat-error>
      </mat-form-field>

      <div class="ml-2">
        <app-filter-columns [columns]="displayedColumns"></app-filter-columns>
      </div>
    </div>

  </div>

  <div class="relative">
    <div *ngIf="loading"
         class="loader loader-shade">
      <mat-spinner></mat-spinner>
    </div>

    <table mat-table [dataSource]="dataSource" matSort class="w-full" style="min-width: 1500px;">
      <ng-container matColumnDef="secCode">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Symbol</th>
        <td mat-cell *matCellDef="let item"
            (click)="navigateToDetails(item.secCode)"
        >
          {{ this.isValue(item.secCode) }}</td>
      </ng-container>

      <ng-container matColumnDef="currency">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Currency</th>
        <td mat-cell *matCellDef="let item">{{this.isValue(item.currency)}}</td>
      </ng-container>

      <ng-container matColumnDef="assetClass">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Asset Class</th>
        <td mat-cell *matCellDef="let item">{{this.isValue(item.assetClass)}}</td>
      </ng-container>

      <ng-container matColumnDef="state">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>State</th>
        <td mat-cell *matCellDef="let item">{{this.isValue(item.state)}}</td>
      </ng-container>

      <ng-container matColumnDef="bidQty">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Bid Qty</th>
        <td mat-cell *matCellDef="let item">{{this.isValue(item.bidQty)}}</td>
      </ng-container>

      <ng-container matColumnDef="bidPrice">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Bid Price</th>
        <td mat-cell *matCellDef="let item">{{this.isValue(item.bidPrice)}}</td>
      </ng-container>

      <ng-container matColumnDef="offerPrice">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Offer Price</th>
        <td mat-cell *matCellDef="let item">{{this.isValue(item.offerPrice)}}</td>
      </ng-container>

      <ng-container matColumnDef="offerQty">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Offer Qty</th>
        <td mat-cell *matCellDef="let item">{{this.isValue(item.offerQty)}}</td>
      </ng-container>

      <ng-container matColumnDef="iop">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>IOP</th>
        <td mat-cell *matCellDef="let item">{{this.isValue(item.iop)}}</td>
      </ng-container>

      <ng-container matColumnDef="icp">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>ICP</th>
        <td mat-cell *matCellDef="let item">{{this.isValue(item.icp)}}</td>
      </ng-container>

      <ng-container matColumnDef="highPrice">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>High Price</th>
        <td mat-cell *matCellDef="let item">{{this.isValue(item.highPrice)}}</td>
      </ng-container>

      <ng-container matColumnDef="lowPrice">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Low Price</th>
        <td mat-cell *matCellDef="let item">{{this.isValue(item.lowPrice)}}</td>
      </ng-container>

      <ng-container matColumnDef="lastTrade">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Last Trade</th>
        <td mat-cell *matCellDef="let item">{{this.isValue(item.lastTrade)}}</td>
      </ng-container>

      <ng-container matColumnDef="averageWeightedPrice">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Average Price</th>
        <td mat-cell *matCellDef="let item">{{this.isValue(item.averageWeightedPrice)}}</td>
      </ng-container>

      <ng-container matColumnDef="previousClose">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Previous Close</th>
        <td mat-cell *matCellDef="let item">{{this.isValue(item.previousClose)}}</td>
      </ng-container>

      <ng-container matColumnDef="change">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>% Change</th>
        <td mat-cell *matCellDef="let item">
          <app-rate-change [rate]="item.percentChange"></app-rate-change>
        </td>
      </ng-container>

      <ng-container matColumnDef="priceChange">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Price Change</th>
        <td mat-cell *matCellDef="let item">
          <app-rate-change [rate]="item.priceChange"></app-rate-change>
        </td>
      </ng-container>

      <ng-container matColumnDef="volume">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Volume</th>
        <td mat-cell *matCellDef="let item">{{this.isValue(item.volume)}}</td>
      </ng-container>

      <ng-container matColumnDef="value">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Value</th>
        <td mat-cell *matCellDef="let item">{{this.isValue(item.value)}}</td>
      </ng-container>

      <ng-container matColumnDef="numberOfTrades">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Number Of Trades</th>
        <td mat-cell *matCellDef="let item">{{this.isValue(item.numberOfTrades)}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="getDisplayedColumns; sticky:true"></tr>
      <tr mat-row
          (click)="openDialog(row.secCode)"
          [class.mat-row-highlight]="row.secCode === selectedSecCode"
          class="cursor-pointer"
          *matRowDef="let row; columns: getDisplayedColumns;"
      >
      </tr>

      <ng-container matColumnDef="foot-1">
        <th mat-header-cell *matFooterCellDef
            [attr.colspan]="15"
            [attr.rowspan]="1"
            class="mat-foot-row"
        >
          <a routerLink="/exchanges">*-Available for multi-currency settlement</a>
        </th>
      </ng-container>
      <ng-container matColumnDef="foot-2">
        <th mat-header-cell *matFooterCellDef
            [style.text-align]="'center'"
            [attr.colspan]="2"
            [attr.rowspan]="1"
            class="mat-foot-row"
        >
          Total trading value:
        </th>
      </ng-container>

      <ng-container matColumnDef="foot-3">
        <th mat-header-cell *matFooterCellDef
            [attr.colspan]="1"
            [attr.rowspan]="1"
            class="mat-foot-row"
        >
          {{ summary.volume }}
        </th>
      </ng-container>
      <ng-container matColumnDef="foot-4">
        <th mat-header-cell *matFooterCellDef
            [attr.colspan]="1"
            [attr.rowspan]="1"
            class="mat-foot-row"
        >
          {{ summary.value }}
        </th>
      </ng-container>

      <ng-container matColumnDef="foot-5">
        <th mat-header-cell *matFooterCellDef
            [attr.colspan]="1"
            [attr.rowspan]="1"
            class="mat-foot-row"
        >
          {{ summary.numberOfTrades }}
        </th>
      </ng-container>
      <tr mat-footer-row *matFooterRowDef="['foot-1', 'foot-2', 'foot-3', 'foot-4', 'foot-5']" class="bg-primary"></tr>

    </table>
  </div>
</div>
