.mat-table .mat-header-row, .mat-table .mat-row {
  height: 30px;
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  background-color: $primary-color;
}

.mat-icon.mat-primary {
  color: $primary-color;
}

.mat-row:nth-child(even){
  background-color: rgba(177, 185, 220, 0.24);
}

.mat-row-highlight {
  background: rgba(222, 196, 69, 0.68)!important;
}

.mat-tooltip {
  font-size: 15px;
  position: relative;
  ::before {
    position: absolute;
    content: ' POSHEL NA HUY';
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background: #002f6c;
    color: #fff;
  }
}
