<div fxFlex=""
     fxLayout="row"
     fxLayoutAlign="space-between start"
     fxLayout.lt-sm="column"
     fxLayoutAlign.lt-sm=""
     fxLayoutGap="16px">
  <button *ngFor="let item of dates"
          fxFlex.lt-xl="auto"
          fxFlex.lt-sm=""
          fxFlex="auto"
          [value]="item.date"
          mat-raised-button
          type="button"
          color="primary"
          [ngClass]="item.ngClass"
          [class.btn-dates-active]="!areActiveDates(item)"
          (click)="emitSetPeriod(item.date)">
    {{ item.label }}
  </button>
</div>
